@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass-card {
    @apply backdrop-blur-md bg-white/5 border-b border-white/10;
  }
  
  .glass-input {
    @apply backdrop-blur-lg bg-white/5 border border-white/10 placeholder-gray-500;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full hover:bg-white/20 transition-colors;
  }
}

/* Base styles to prevent white flash */
body {
  @apply bg-brand-bg text-white;
}
